
<h1>{{title}}</h1>
<form id="form-group" action="/articles/add" method="post" style="margin-left:10px">
  <label for="title">title:<input type="text" name="title" class="form-control" /required>
  <label for="body">author:<input type="text" name="author" class="form-control" /required></label>
  <label for="title">body:<input type="text" name="body" class="form-control" /required></label>
  <input type="submit" value="submit" class="btn-primary">


</form>
